.main-header {
	font-family: 'Courgette', sans-serif !important;
	font-weight: 900;
	text-align: center;
	border: 8px double #fff !important;
	width: 50%;
	padding: 40px !important;
	text-decoration: underline;
	font-size: 50px !important;
	margin: auto !important;
}

.courgette {
	font-family: 'Courgette', sans-serif !important;
}

.underline {
	text-decoration: underline;
}